.marketing {
    height: 100vh;
    width: 100%;
    background-image: url(../img/Background_Opacidad_15.png);
    background-repeat: repeat;
    display: flex;
    align-items: center;
}

.row {
    margin: 0 0;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 600;
}

.marketing .col-lg-4 p {
    margin: 1em 5em;
    font-weight: 400;
}

.marketing .col-lg-4 img{
    margin: 4em 4em;
}

.marketing .row {
    width: 100%;
}

.cita {
    width: 100%;
    height: 70vh;
    background-image: url(../img/Background_Opacidad_15.png);
    padding: 10% 0;
}

.cuadro_cita {
    background-color: white;
    margin: 0 10em;
    padding: 4em;
}

.cuadro_servicios {
    background-color: white;
    margin: 0em 10em;
    padding: 1em;
}

.footer {
    height: 50vh;
    background-color: #2087C5;
}

.logo_main {
    width: 10em;
    margin: 2em 9em;
}

.navbar {
    height: 3.5em;
}

.nav-item .nav-link {
    padding-top: 1em;
    padding-left: 2em;
}

.btn_contactar {
    justify-content: right;
    margin-left: 15vw;
    color: white;
    font-weight: 600;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background: #2087C5;
    border-color: transparent;
    border-radius: 100px;
}

.btn_contactar_cambiado {
    justify-content: right;
    margin-left: 15vw;
    color: #2087C5;
    font-weight: 600;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background: white;
    border-color: transparent;
    border-radius: 100px;
}

.logo_footer {
    margin: 2em;
}

.footer_left {
    justify-content: center;
    align-items: center;
}

.footer_right .col-lg-1 {
    margin: 1em 0;
}

.footer_left .data_company {
    margin-left: 10em;
}

.iconos {
    margin-left: 9.5em;
}

.iconos img {
    margin: 0 0.25em;
}

.images .row .col-lg-4 {
    padding: 0;
}

.p_nuestros {
    color: black;
    font-weight: 550;
    font-size: 36px;
    text-align:center;
}

.p_servicios {
    color: #2087C5;
    padding-left: 0.25em;
}

.btn_enviar {
    color: #2087C5;
    width: 120px;
    height: 52px;

    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 100px;

    font-weight: 500;
    font-size: 20px;
}

.mensaje {
    height: 8em;
}

.form_title {
    margin: 1em 0 0 0;
}


